/* .container{
    max-width:  1100px;  
} */
.logo {
    width: 90px;
    height: 80px;
    top: 0; 
}
.menu{
    position: relative; 
    top: 0; 
    align-items:normal;
}
.menu label{    
    display: none;
}
.menu h1{  
    font-size: 35px;
    margin-bottom: 20px;
}
.menu .navbar{
    position: relative;
    display:inline-block; 
    top: 0;
    background: none;
}
.menu .navbar ul li{
    float: left;
    width:auto;
}
.menu .navbar ul li a{
   font-size: 18px;
   padding: 10px;
   margin: 10px;
   color: rgb(153, 104, 194);
   display: block;
}
.header-content{
    display: flex;
    margin-top: 0;  
    margin-bottom: 50px;  
    justify-content: center;
}
.header-content h1{
margin-bottom: 20px;
}
.principal-title-response{
    display: none;
}
.principal-title{
    display: contents;
    font-size: 35px;
    font-weight: 600;
    color: #4343c0; 
    height: 50px;
}
.principal-txt-response{
    display: none;
}
.principal-txt{
    display: contents;
    width: 70%;
    font-size: 20px;
    color: #e7d8d8;
}
.btn-1{
    display: inline-block;
}
#photo{
    height: 250px; 
    perspective: 50px;
}
.myProjects{
    margin-top: 0px;
    padding: 0;
}  
.myProjects-title img{
    display:inline;
}
.myProjects-title{
    margin-bottom: 100px;   
}

.swiper-slide{
    font-size: 18px;
}
.slider{
   width: 900px;       
}

.project img{
    height: 250px;
}
.project img:hover{
    height: 250px;    
}
.project-txt h4{
    margin: 0;
}
.project-txt p{
    margin: 0;
}
.backtext-txt{  
    padding: 80px 0px;
    /* 0.45 is percentage of opacity */
    background-image: linear-gradient(rgba(20,20,20,1),rgba(20,20,20,0.45)),url(../images/pr.png);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size:cover;
}
.backtext-txt h2{
    color: #edb312;
    font-size: 30px;
    /* se puede usar el grosor, porque se trajo en la fuente, al iniciar */
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100px;
    margin-left: 650px;
}
.backtext-txt p{
    color: #ffffff;
    font-size: 30px;
    font-weight: 800;
    margin-left: 650px;
    text-transform: uppercase;
    line-height: 100px;
}
.backtext-txt span{
    color: #edb312;
    font-size: 30px;   
    font-weight: 800;
    text-transform: uppercase;
    line-height: 100px;
}

.footer p{
    text-align: center;
    color: #e7d8d8;
    margin: 0px 200px;
}
.footer-txt{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.socials a{   
    width: 40px;
    height: 40px;
    margin: 30px;  
    line-height: 40px;   
}
.socials a:hover{
transform: scale(1.2);
}
